.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 375px;
    justify-content: space-between;
    border: 1px solid lightgrey;
    margin: 20px;
    font-size: 18px;
    background-color: white;
    text-overflow: ellipsis;
    /*box-shadow: 5px 10px 15px #808080;*/
}

.card-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
}


.card-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}


.card-title {
    font-size: 20px;
    padding: 15px;
}

.card-info {
    padding: 15px;
}

.card-link {
    color: white;
    padding: 15px 10px;
    background-color: #94C83D;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #808080;
}
