* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 18px;
    font-style: Arial, Helvetica, sans-serif;
    color: #222;
}

body {
    height: 100%;
    background-color: #F6F6F6;
    color: #222;
}

main {
    position: relative;
    min-height: 100vh;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    height: 100%;
    color: #222;
}

.block {
 display: block;   
}


.inline-block {
    display: inline-block;   
}

.display-flex {
    display: flex;
}

.home-container {
    display: flex;
    justify-content: center;
}
