html {
    height: 100%;
    font-size: 18px;
    font-style: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    background-color: #F6F6F6;
}

main {
    position: relative;
    min-height: 100vh;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}