.form-container {
    align-self: center;
}

.form-input {
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    font-size: inherit;
}

.form-title {
    text-align:center;
}

.form-submit {
    border: 0;
    background-color: #94C83D;
    color: white;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
}

.form-submit:hover {
    background-color: rgb(104, 163, 1);
}


.form-error {
    color: red;
    font-weight: 300;
    font-size: 16px;
}