nav {
    height: 65px;
    background-color: transparent;
    line-height: normal;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    height: 65px;
   /* background-color: #909090;*/
    /*background-image: linear-gradient(90deg, mediumturquoise, dodgerblue);*/
    /*background-image: linear-gradient(90deg, mediumturquoise, dodgerblue);*/
    background-color: #94C83D;
    font-family: "arial", "helvetica", sans-serif;
}

.left-side {
    display: flex;
    justify-content: space-between;
}

.right-side {
    display: flex;
    justify-content: space-between;
}

.link {
    padding: 21px 20px;
    height: 100%;
    color: white;
    width: auto;
    justify-self: center;
    text-decoration: none;
}

.link:hover {
    background-color: rgb(104, 163, 1);
    color: white;
}

