.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 220px;
    height: 275px;
    justify-content: space-around;
    border: 1px solid lightgrey;
    margin: 10px;
    font-size: 18px;
    background-color: white;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    /*box-shadow: 5px 10px 15px #808080;*/
}

.card-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}


.card-bottom {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: relative;
}


.card-title {
    position: absolute;
    top: 20px;
    padding: 5px;
}

.card-title-h {
    padding: 10px 20px;
    border: 2px solid black;
}

.card-info {
    padding-bottom: 15px;
    width: 300px;
    margin: 0 auto;
}

.card-info-p {
    text-align: left;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-link {
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    background-color: #94C83D;
    margin-bottom: 60px;
    box-shadow: 2px 2px 5px #808080;
}

.card-link:hover {
    color: white;
    background-color: rgb(104, 163, 1);
    box-shadow: none;
}

.card-top-medal {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 125px;
}

.card-top-image {
    background-color: lightslategray;
    width: 120px;
    margin-top: 20px;
    height: 120px;
    border-radius: 50%;
}