.time-table-container {
    margin: 0 auto;
    margin-top: 50px;
    width: 800px;
    text-align: center;
}

.time-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.time-table-td, .time-table-th{
    border: 1px solid rgb(161, 161, 161);
    padding: 8px;
}


.time-table-tr:nth-child(even) {
    background-color: #dbdbdb;
}

.time-table-th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    /* background-color: #94C83D; */
    color: white;
}